.dialogs{
    width: 300px;
    background-color: dodgerblue;
    display: flex;

}
.dialogsItems{
    flex-grow: 1;
    border: 1px solid black;
    padding: 7px;
}

.lastMessages{
    flex-grow: 1;
    border: 1px solid black;
    align-items: flex-start;
    padding: 7px;

}
.dialog{
    padding-top:5px;
}
.lastMessage{
    padding-top: 5px;
}