.avatarMini{
    width: 100px;
    height: 100px;
    display: inline-block;
    margin: 4px 0px;
    border-radius: 5px;
    border: 3px solid #9CBBF4 ;
}
.postText{
    display: inline-block;
    margin: 0px  5px;
}
.postWrapper{
    border-top: 4px solid #9CBBF4;
    margin: 3px;
}