


.dialogsWrapper{
    display: grid;
    grid-template-columns: 300px 400px;
    grid-template-rows: 500px 200px;
    gap: 0px 0px;
    grid-template-areas:
            "dialogNames messages"
            "dialogNames inputArea"
            "dialogNames ."
            "dialogNames .";
    border-right: 2px solid #9CBBF4;
    border-left: 2px solid #9CBBF4;
}
.dialogsItems{
    flex-grow: 1;
    padding: 7px;
    grid-area: dialogNames;
}

.lastMessages{
    flex-grow: 1;
    border: 2px solid cornflowerblue;
    align-items: flex-start;
    padding: 7px;
    grid-area: messages;
    margin-top: 9px;
    border-radius: 3px;
    overflow-y:auto;
    max-height: 500px;

}
.dialog{
    padding-top:5px;
    margin: 2px 0px;
    border: 2px solid cornflowerblue;
    background-color: #EAF1FD;
    border-radius: 3px;

}
.lastMessage :not(:first-child){
    padding-top: 15px;
}
.useravatar{
    display: inline-block;
    max-width: 100px;
    border-radius: 5px;
}
.username{
    margin-left: 10px;
    display: inline-block;

}

button.sendMessage{
    width: 50px;
    height: 20px;
}

.inputArea textarea{
    height: 120px;
    width: 400px;
    border-radius: 7px;

}
.inputArea{
    margin-top: 10px;
    grid-area: inputArea;
}

a.active{
    font-weight: bold;
    font-size: 19px;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    transition: all 0.1s

}
.message{
    word-wrap: break-word;

}