

.profile img{
    width: 100%;
    height: 200px;
}
.textarea{
    min-width: 98%;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    margin: 10px;
    padding: 5px;


}
.postButton{
    margin-left: 10px;
    margin-bottom: 10px ;
    width: 11% ;
}
.MyProfileWrapper{
    border-right: 2px solid #9CBBF4;
    border-left: 2px solid #9CBBF4;
}
.Avatar{
    border: 6px solid cornflowerblue;
    width: 100%;
    display: inline-block;
    grid-area: avatar;
    margin-top: 10px;
    margin-left: 7px;
    border-radius: 7px;
}
.avatarIcon{
    display: flex;
    border-radius: 7px;
    width: 220px;
    margin: 5px auto;

}




.status{
    color: black;
    font-weight: bold;
    border-bottom-style: solid;
    border-bottom-color: black;
    border-bottom-width: 2px;
}
.statusWrapper{
    grid-area: status;
}

.errorText{
    color:red;
}
.submitError{
    border: red 2px solid;
    width: 150px;
    padding: 3px;
}


.customFileInput {
    color: transparent;
    display: flex;
    margin: 0 auto;
    width: 150px;
}
.customFileInput::-webkit-file-upload-button {
    visibility: hidden;
}
.customFileInput::before {
    content: 'Change photo...';
    color: black;
    display: inline-block;
    background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
    border: 1px solid #999;
    border-radius: 3px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 700;
    font-size: 10pt;
}
.customFileInput:hover::before {
    border-color: black;
}
.customFileInput:active {
    outline: 0;
}
.customFileInput:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

.gridContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
            "avatar avatar info info info info"
            "avatar avatar info info info info"
            "avatar avatar info info info info"
            "status status editInfo editInfo editInfo editInfo";
}

.profile{
    flex-direction: column;
    align-content: flex-start;
}
.profile img{
    width: 100%;
    height: 200px;
}

.infoName{
    display: inline-block;
    margin-left: 20px;
    font-weight: bold;
    border-bottom-style: solid;
    border-bottom-color: black;
    border-bottom-width: 1px;
}

.infoValue{
    display: inline-block;
    width: 200px;
}
.infoWrapper{
    width: 97%;
    display: inline-block;
    border: 6px solid cornflowerblue;
    grid-area: info;
    padding-left: 0px;
    border-radius: 7px 7px 7px 7px;
    margin-top: 10px;
    margin-left: 15px;
    padding: 10px 0px;

}

.infoBlockWrapper{
    display: inline-block;
}
.editProfileButton{
    margin-top: 15px;
    margin-left: 20px;

}
.postsWrapper{
    border-radius: 7px 7px 7px 7px;
    border: 6px solid cornflowerblue;
    margin: 0px 4px;

}
