.header{
    height: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
    "logoPlace logoPlace logoPlace else else else else else else else else else"
    "logoPlace logoPlace logoPlace else else else else else else else else else";
    border-bottom: 2px solid #9CBBF4 ;
    background-color: #EAF1FD;
    margin-left: 3px;
}

.logoPlace { grid-area: logoPlace; }

.else { grid-area: else; }

.img{
    width: 100%;
    height: auto;
    display: inline-block;
}
.logoPic{
    height: 58px;
    width: 44px;
}
.logoText{
    padding-left: 5px;
    height: 50px;
    width: 120px;
}
.themeButton{
    display: inline-block;
}
.LogOutWrap{
    display: inline-block;
    float: right;
    margin-right:10px;
}

.LogOut{
    display: inline-block;
    margin-right:10px;

}
.Login{
    margin-right: 20px;
    margin-top: 10px;
    float: right;

}

.emailInfo{
    margin: 15px 18px;
    display: inline-block;
}