.sidebarWrapper{
    margin: 3px 0px;
    background-color: #EAF1FD;
}

a{
    text-decoration: none;
}
li{
    list-style: none;
    padding: 4px 0px;
}
a {
    position: relative;
    color: #000;
    text-decoration: none;
}
ul{
    padding-left: auto;
}


a:visited {
    color: #000;
    text-decoration: none;
}

a:hover {
    color: #000;
    text-decoration: none;
}

.sidebarWrapper a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    bottom: -2px;
    left: 0;
    background-color: #000;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}
li.active a:before,
a:hover:before  {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

a.active{
    font-weight: bold;
    font-size: 19px;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    transition: all 0.1s;
    margin-left: 1px;
}
.friends{
    margin-left: 7px;
    font-weight: bold;
}

@media (max-width: 1200px) {
    a.active{
        font-weight: bold;
        font-size: 17px;
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        transition: all 0.1s
    }
}
@media (max-width: 992px) {
    a.active{
        font-weight: bold;
        font-size: 17px;
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        transition: all 0.1s
    }
    ul{
        padding-left: 15%;
    }
}
@media (max-width: 767px) {
    ul{
        padding-left: 5%;
        font-size: 20px;
    }
    .friendsHide{
        height: 0;
        overflow: hidden;
    }
    a.active{
        font-weight: bold;
        font-size: 20px;
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        transition: all 0.1s
    }
}
@media (max-width: 575px) {
    ul{
        padding-left: 0%;
    }
    .friendsHide{
        height: 0;
        overflow: hidden;
    }
}