.pagesIcon{
    margin-right: 5px;
    border: 1px solid black;
    padding: 1px 5px;
}
.activePage{
    border: 2px solid white;
    border-radius: 5px;
}

.paginatorWrapper{
    border-top: 2px solid cornflowerblue;
    border-bottom: 2px solid cornflowerblue;
    padding: 10px;
    display: flex;
    justify-content: center;
    margin: 2px;
    background-color: #EAF1FD;
    border-radius: 0px;

}