.Login{
    font-size: 40px;
}

.errorText{
    color:red;
}

.submitError{
    border: red 2px solid;
    width: 200px;
    padding: 3px;
}
.submitButton{
    margin: 10px 0px;
    display: inline-block;
}
