.MyNews{
    text-align: center;
    border-right: 2px solid #9CBBF4;
    border-left: 2px solid #9CBBF4;



}

.newsWrapper{
    justify-content: center;
    border-right: 2px solid darkred ;
    border-left: 2px solid darkred ;
    border-bottom: 2px solid darkred ;
    background-color: #EAF1FD;
    height: 100%;
    width: 900px;
    padding: 15px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 10px;
    grid-template-rows: 10px;
    gap: 0px 0px;
    grid-template-areas:
            "title title title title title image image image image image"
            "title title title title title image image image image image"
            "abstract abstract abstract abstract abstract image image image image image"
            "abstract abstract abstract abstract abstract image image image image image"
            "abstract abstract abstract abstract abstract image image image image image"
            "abstract abstract abstract abstract abstract image image image image image"
            "abstract abstract abstract abstract abstract image image image image image"
            "abstract abstract abstract abstract abstract image image image image image"
            "abstract abstract abstract abstract abstract image image image image image"
            "abstract abstract abstract abstract abstract image image image image image";
}
.newsWrapper:first-child{
    border-top: 2px solid darkred ;
    margin-top: 1px;
}
.title{
    margin: auto;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    grid-area: title;

}
.description{
    padding: 0px 30px;
    font-size: 14px;
    text-align: center;
    margin: auto;
    grid-area: abstract;
}
.image{
    max-width: 500px;
    margin: auto;
    border-radius: 5px;
    grid-area: image;
}
.sourceUrl {
    margin-top: 10px;
    font-size: 15px;
    color: blue;
    text-align: start;
    grid-area: abstract;

}
